/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root{
    /* primary  colors*/
    --clr-red: 0 100% 74%;
    --clr-green: 154 59% 51%;
    
    /* Accent */
    --clr-blue: 248 32% 49%;
    
    /* Neutral */
    --clr-dark: 249 10% 26%;
    --clr-light: 246 25% 77%;
    --clr-white: 0 0% 100%;

    /* font-size */
    --fs-900: 3rem;
    --fs-800: 2.5rem;
    --fs-700: 2rem;
    --fs-600: 1.85rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 0.5rem;

    /* font-family */
    --ff-normal: "Poppins", sans-serif;

    /* box-shadow */
    --bs-1: 3px 3px 5px hsl(var(--clr-dark) / .7),
            2px 2px 3px hsl(var(--clr-dark) /.3 );
}

@media (max-width: 35em) {
    :root{
        --fs-900: 2rem;
    }
}
/* ----------------- */
/* Reset             */
/* ----------------- */

/* box sizing */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400;
}

/* make img easier to work with */
img{
    display: block;
    max-width: 100%;
}

/* make form elements easier to work with */
input,
textarea,
button,
select{
    font: inherit;
}

/* reduce animation for people who've turned them off */
@media(prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto!important;
    }
}

/* set up body */
body{
    line-height: 1.6;
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-red));
    font-family: var(--ff-normal);
    color: hsl(var(--clr-white));
    background-image: url(./assets/img/bg-intro-mobile.png);
    overflow-x: hidden;

    display: grid;
}

/* ----------------- */
/* Utility Classes   */
/* ----------------- */
.flex{
    display: flex;
    gap: var(--gap, 1em);
}

.grid{
    display: grid;
    gap: var(--gap, 1em);
}

.block{
    display: block;
}

.container{
    padding: 2em;
    margin-inline: 2em;
}

.flow{
    margin-block: 2em;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* colors */
.bg-red{background-color: hsl(var(--clr-red));}
.bg-green{background-color: hsl(var(--clr-green));}
.bg-dark{background-color: hsl(var(--clr-dark));}
.bg-white{background-color: hsl(var(--clr-white));}
.bg-light{background-color: hsl(var(--clr-light));}
.bg-blue{background-color: hsl(var(--clr-blue));}

.text-red{color: hsl(var(--clr-red));}
.text-green{color: hsl(var(--clr-green));}
.text-dark{color: hsl(var(--clr-dark));}
.text-white{color: hsl(var(--clr-white));}
.text-light{color: hsl(var(--clr-light));}
.text-blue{color: hsl(var(--clr-blue));}
.text-muted{color: hsl(var(--clr-dark) / .5);}


/* typography */
.ff-normal{font-family: var(--ff-normal);}

.fs-900{font-size: var(--fs-900);}
.fs-800{font-size: var(--fs-800);}
.fs-700{font-size: var(--fs-700);}
.fs-600{font-size: var(--fs-600);}
.fs-500{font-size: var(--fs-500);}
.fs-400{font-size: var(--fs-400);}
.fs-300{font-size: var(--fs-300);}
.fs-200{font-size: var(--fs-200);}

.fs-900,
.fs-800,
.fs-700{
    line-height: 1.1;
}

.bold-1{font-weight: 700;}
.bold-2{font-weight: 600;}
.bold-3{font-weight: 500;}

.letter-spacing-1{letter-spacing: 4.75px;}
.letter-spacing-2{letter-spacing: 3.75px;}

.uppercase{text-transform: uppercase;}

.capitalize{text-transform: capitalize;}

.text-center{text-align: center;}

.text-right{text-align: right;}



.header{
    font-size: var(--fs-900);
    font-weight: 700;
}

/* buttons */
.btn-1{
    display: inline-block;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-green));
    border: none;
    padding: .5em 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: monospace;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--bs-1);
}

/* ----------------- */
/* Design System     */
/* ----------------- */

.number-title{
    color: hsl(var(--clr-dark) / .5);
    
}

.number-title > span{
    color: hsl(var(--clr-dark));
    text-transform: uppercase;
    letter-spacing: 4.75px;
    outline: 5px solid hsl(var(--clr-red));
    outline-offset: 5px;
    margin-left: 1em;
}

.color-container{
    flex-direction: column;
    justify-content: flex-start;
}

.color-container div > div{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 1em;
    padding-block: 1em;
}

.layout-container{
    flex-direction: row;
    justify-content: space-between;
}
.mobile,
.desktop{
    background-color: hsl(var(--clr-dark));
    height: 300px;
    border-radius: 10px;
}

.mobile{
    flex: 1 1 30%;
    grid-template-rows: repeat(3, 1fr);
    padding: 1em;
}

.mobile > div,
.desktop > div{
    background-color: hsl(var(--clr-blue));
    border-radius: 10px;
}

.desktop{
    flex: 1 1 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em;
}


/* ----------------- */
/* Form              */
/* ----------------- */

/* description */
.desc{
    flex-direction: column;
}



/* info box */
.info-box{
    background-color: hsl(var(--clr-blue));
    margin-inline: 2em;
    border-radius: 10px;
    box-shadow: var(--bs-1);
}

/* input form */
.form{
    background-color: hsl(var(--clr-white));
    border-radius: 10px;
}

.form-container{
    flex-direction: column;
}

.input-boxes{
   width: 100%;
   position: relative;
}

.input-boxes > input{
    width: 100%;
    padding-block: .5em;
    text-indent: 1.5em;
    border-radius: 5px;
    border: 1px solid hsl(var(--clr-dark) / .5);
    font-weight: 600;
    outline: 0;
    margin-bottom: 1.5em;
}

.password-desc,
.username-desc{
    color: hsl(var(--clr-dark) / .5);
}

.error{
    display: none;
}

.error > img{
    position: absolute;
    right: 0;
    top: 1.2em;
    transform: translate(-50%, -50%);
}

.error > p{
    position: absolute;
    right: 0;
    bottom: -15px;
    font-style: italic;
    font-size: var(--fs-300);
    color: hsl(var(--clr-red));
}

.input-boxes > button{
    width: 100%;
}

.term{
    color: hsl(var(--clr-dark) / .5);
    font-size: var(--fs-300);
    text-align: center;
}

.term p > a{
    text-decoration: none;
    color: hsl(var(--clr-red));
    font-weight: 700;
}

.term p > a:hover,
.term p > a:focus{
    color: hsl(var(--clr-green));
}

@media (min-width: 35em) {
    body{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 200px);
    }

    .desc{
        grid-area: 2 / 1 / 5 / 7;
        justify-content: center;
        align-items: center;
    }

    .info-box{
        grid-area: 1 / 7 / 2 / 12;
        align-self: end;
    }

    .input-boxes > input{
        padding: 1em 2em;
    }

    .form{
        grid-area: 2 / 7 / 6 / 12;
        justify-content: center;
        align-items: center;
    }

    .error > img{
        position: absolute;
        right: 0;
        top: 1.8em;
        transform: translate(-50%, -50%);
    }
}